extends layout

block content
  h1= title
  p Welcome to #{title}

  #board1(style="width: 400px")
  input#initMove(type="text")
  input#targetMove(type="text")
  input#moveButton(type="button", value="Move")

block myscripts
  script(type='text/javascript').
      var board = new ChessBoard('board1', 'start');

      function doMove() {
        var init = $('#initMove').val();
        var target = $('#targetMove').val();
        var mvmt = init + '-' + target;
        console.log('moving to ' + mvmt)
        board.move(mvmt);
      }

      $("#moveButton").on('click', function() {
        doMove();
        });

      if (annyang) {
        // Let's define a command.
        var commands = {
          'e2': function() { $('#initMove').val('e2') },
          'e4': function() { $('#targetMove').val('e4') },
          'e7': function() { $('#initMove').val('e7') },
          'e5': function() { $('#targetMove').val('e5') },
          'move': function() { doMove(); }
        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening.
        annyang.start();
      }
